<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>La boite à Gio</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<body>

  <h2>Bienvenue sur la Boite à Gio</h2>



  <a href="{{ url_for('upload') }}">Upload file</a>




  <div class="wrapper">
    <div>
      {% from "_formhelpers.html" import render_field %}
      <form method="post">
        <dl>
          {{ render_field(search_form.search) }}
        </p></dl>
        <p><input type="submit" value="Search">
      </p></form>
    </div>

    <div>
      <form method="post">
        <dl>
          {{ render_field(sort_form.select) }}
        </p></dl>
        <p><input type="submit" value="Sort">
      </p></form>
    </div>

  </div>








  <div class="wrapper">

    {% for item in items %}
    <div>
    <figure>
      <figcaption>{{item.title}}, par {{item.user}}, lu {{item.nb_lecture}} fois</figcaption>

        <video width="320" height="180" onplay="count(this)" id={{ item.id }} controls>
          <source src={{ url_for('static', filename = 'video_files/') }}{{ item.filename }} type="video/mp4">

        Your browser does not support the audio element.
        </audio>
    </figure>
    </div>
    {% endfor %}
  </div>


  <script>
    function count(element){
      var file_id = element.attributes;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/count', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
      const json = {"id": file_id[1].value };
      xhr.send(JSON.stringify(json));

    }
  </script>




  <script>
  document.addEventListener('play', function(e){
      var audios = document.getElementsByTagName('audio');
      for(var i = 0, len = audios.length; i < len;i++){
          if(audios[i] != e.target){
              audios[i].pause();
          }
      }
  }, true);
  </script>



</body>
</html>
