<html>
   <body>
     Pour éviter le spam, vous devez necessairement rentrer votre "user id". Celui ci vous est attribué par Jean Chibre sur le discord des papillons blancs.
     <br>Il est unique et vous identifie personnellement. Tout utilisateur qui upload un sample qui n'est pas associé à Giovanni sera banni du discord et son id Discord rendu invalide.
     <br>Votre code est personnel, ne le partagez pas ! Si jamais vous le partagez à un autre utilisateur qui spam, tant pis pour vous.
      <br>
      <br>
      <br>
      <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type="text" name="title"  value="title"/>
         <input type="text" name="user" value="user"/>
         <input type="text" name="user id" value="user id"/>
         <input type = "submit"/>
      </form>
   </body>
</html>
